DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ghuri_automobiles"
NEXT_PUBLIC_SUPABASE_URL="https://rxdihowlwhmlvsozdcfq.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4ZGlob3dsd2htbHZzb3pkY2ZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNzMxNzcsImV4cCI6MjA5Mzc0OTE3N30.w_wdJkc1-HSdIB3YVokMvhgr2-gYsfAHM74VzgVSF14"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4ZGlob3dsd2htbHZzb3pkY2ZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODE3MzE3NywiZXhwIjoyMDkzNzQ5MTc3fQ.PlNdp2bhaAUNZubG5HyTvW6bsdg4sAEHzhvASZqq1qc"